:root{
    --white-color: #fff;
    --body-color: #f26919;
    --bg-color: #f3f4f8;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--body-color);
}
.wrapper{
    width: 100%;
    height: 612px;
    max-width: 960px;
    margin: 100px auto;

    background-color: var(--bg-color);
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.header{
    height: 45px;
    width: 100%;
    background-color: var(--white-color);
    border-right: 1px solid #ccc;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}





@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
